{% extends 'base.html.twig' %}

{% block title %}Compte désactivé{% endblock %}

{% block body %}

<div class="alert alert-danger">
    <h3>Désolé, votre compte a été suspendu par un administrateur</h3>
</div>


{% endblock %}